<form class="text-center" [formGroup]="_form">

  <div class="form-group">
    <div>
      <label>
        <input type="text" class="form-control" formControlName="userName" placeholder="Your username..">
      </label>
      <p class="is-invalid-input" *ngIf="isInvalidInput('userName')">Invalid user name </p>
    </div>

    <div>
      <label>
        <input type="email" class="form-control" formControlName="email" placeholder="Your email..">
      </label>
      <p class="is-invalid-input" *ngIf="isInvalidInput('email')">Invalid email (need '@') </p>
    </div>

    <div>
      <label>
        <input type="string" class="form-control" formControlName="phoneNumber" placeholder="Your phone number..">
      </label>
      <p class="is-invalid-input" *ngIf="isInvalidInput('phoneNumber')">Invalid phone number (need 10-15 symbols)</p>
    </div>

    <div>
      <label>
        <input type="string" class="form-control" formControlName="birthday" placeholder="Your birthday.. (dd.mm.yyyy)">
      </label>
      <p class="is-invalid-input" *ngIf="isInvalidInput('birthday')">Invalid birthday. Please use only 'dd.mm.yyyy' format </p>
    </div>

    <div>
      <button class="btn btn-success form-control" type="submit" (click)="onButtonClick()" [disabled]="!_form.valid">Add user</button>
    </div>
  </div>
</form>


