<form [formGroup]="_form">

  <label>
    User name: {{ getStatus('userName') }}
    <input type="text" formControlName="userName" placeholder="Your username..">
  </label>

  <label>
    Email: {{ getStatus('email') }}
    <input type="text" formControlName="email" placeholder="Your email..">
  </label>

  <label>
    Phone number: {{ getStatus('phoneNumber') }}
    <input type="number" formControlName="phoneNumber" placeholder="Your phone number..">
  </label><br>

  <label>
    Birthday: {{ getStatus('birthday') }}
    <input type="number" formControlName="birthday" placeholder="Your birthday.. (ddmmyyyy)">
  </label>

  <button (click)="onButtonClick()" [disabled]="!_form.valid">Add user</button>
</form>


